body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
    padding: 30px;

}
.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgha(0,0,0,0,2);

}
input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    padding: 8px 12px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn {
    background-color: #3498db;
    color: white;

}

.edit-btn {
    background-color: #f39c12;
    color: white;
}
.delete-btn {
    background-color: #e74c3c;
    color: white;
}
li {
    list-style: none;
    background: #ecf0f1;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}
